html,
body {
  padding: 0;
  margin: 0;
  font-family: body, Helvetica, Arial, sans-serif;
}

body {
  background-color: black;
  letter-spacing: -1px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "body";
  src: url("/fonts/GoodSans-Medium.eot");
  src: url("/fonts/GoodSans-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/GoodSans-Medium.woff2") format("woff2"), url("/fonts/GoodSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
